<sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true"
      (mapClick)="mapClicked($event)">

      <sebm-google-map-polyline>
      <sebm-google-map-polyline-point
          *ngFor="let loc of locations; let i = index"
          [latitude]="loc.Lattitude"
          [longitude]="loc.Longitude"
          >

        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>

          <div *ngIf="i == locations.length-1">
            <sebm-google-map-marker [latitude]="loc.Lattitude" [longitude]="loc.Longitude"></sebm-google-map-marker>
          </div>


        </sebm-google-map-info-window>
      </sebm-google-map-polyline-point>
      </sebm-google-map-polyline>

      <sebm-google-map-polyline-point [latitude]="latA" [longitude]="lngA">
               </sebm-google-map-polyline-point>

    </sebm-google-map>
